.org-content{
    background-color: white ;
    height: 900px;
}
.org-sider{
    background-color: white;
}
.org-menu{
    width: 200px;
    height: 499px;
    background-color: white;
    
}

.org-confrom{
    padding: 80px 0 0 80px;
}


.orgmana-btn{
    position: absolute;
    bottom: 0;
    left:25px;
}
