
.env-select{
    width: 200px;
}

.env-click{
    border-top: 1px solid #e4e4e4;
    padding: 8px 12px;
    cursor: pointer;
}

.env-click:hover{
    background: #fcfcfc;
}

.modal-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0 0 0;
}

.env-tab-box{

    .header-box-margin{
        margin: 10px 0;
    }

    .ant-tabs-bottom>.ant-tabs-nav:before, .ant-tabs-bottom>div>.ant-tabs-nav:before, .ant-tabs-top>.ant-tabs-nav:before, .ant-tabs-top>div>.ant-tabs-nav:before{
        border-bottom: 0px solid #f0f0f0;
    }
}