
.env-select{
    width: 200px;
}

.env-click{
    border-top: 1px solid #e4e4e4;
    padding: 8px 12px;
    cursor: pointer;
}

.env-click:hover{
    background: #fcfcfc;
}

.modal-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0 0 0;
}
