.sysmana-layout{
    height: var(--pi-calc-content);

    .site-layout-background {
        background-color: var(--pi-bg-color);
    }
    .search-add{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 0 20px;
        .addmodel {
            margin: 0 10px;
        }
    }

    .thoughtware-orga-aside {
        height: 100%;
        border-right: 1px solid var(--pi-border-color);
        background: var(--pi-greyf9-color);
        overflow: auto;

        ul,li {
            list-style: none;
        }

        .orga-aside-hidden {
            display: none;
        }

        .aside-li{
            cursor: pointer;
            padding: 0 15px 0 30px;
            display: flex;
            align-items: center;
        }

        .orga-aside-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
        }

        .orga-aside-item:hover{
            background-color:var(--pi-hover-color);
        }

        .aside-item-li{
            padding: 0 15px;
        }

        .orga-aside-li {
            height: 40px;
            line-height: 40px;
            //border-left: 3px solid rgba(255, 255, 255, 0);

        }

        .orga-aside-li:hover{
            background-color:var(--pi-hover-color);
        }

        .orga-aside-select {
            background-color: var(--pi-action-color);
            border-left: 3px solid #1296db;
        }
    }
}

.sysmana-sider{
    width: 200px;
    background-color: var(--pi-bg-color);
    height: 100%;
}

.sysmana-menu{
    height: 100%;
}

.sysmana-content{
    overflow: auto;
    height: 100%;
    background-color: var(--pi-bg-color);
    //padding: 0 10px;
}


// evnMana
.environment-breadcrumb{
    margin: 15px 0;
}

.environment-searchbtn{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}


.ant-modal-close-x{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.menu-name-icon{
    display: flex;
    width: 120px;
    height: 30px;
    align-items: center;
}


.dataStructure-modal-box{

    .ant-modal-body{
        min-height: 300px;
    }
}

.version-function-box{

    .ant-table-cell{
        padding: 10px;
    }

    .ant-table-thead > tr > th{
        font-weight: var(--pi-font-weight-title);
    }
}