@font-face {
  font-family: "iconfont"; /* Project id 4299819 */
  src: url('iconfont.woff2?t=1702264229383') format('woff2'),
       url('iconfont.woff?t=1702264229383') format('woff'),
       url('iconfont.ttf?t=1702264229383') format('truetype'),
       url('iconfont.svg?t=1702264229383#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diannao1:before {
  content: "\e69b";
}

.icon-shouji1:before {
  content: "\e69c";
}

.icon-gongneng1:before {
  content: "\e631";
}

.icon-api1:before {
  content: "\e618";
}

.icon-lianjie-copy:before {
  content: "\e7a0";
}

.icon-test-case-group:before {
  content: "\e60e";
}

.icon-baogao:before {
  content: "\e62d";
}

.icon-jiaosequanxian:before {
  content: "\e667";
}

.icon-anquan:before {
  content: "\e60d";
}

.icon-xukezheng:before {
  content: "\e620";
}

.icon-plugin:before {
  content: "\e614";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-folder-close:before {
  content: "\e671";
}

.icon-home:before {
  content: "\e674";
}

.icon-file-open:before {
  content: "\e670";
}

.icon-modular:before {
  content: "\e678";
}

.icon-api:before {
  content: "\e63b";
}

.icon-fanhui1:before {
  content: "\e602";
}

.icon-chengyuan:before {
  content: "\e61c";
}

.icon-layers:before {
  content: "\e676";
}

.icon-setting:before {
  content: "\e67d";
}

.icon-jiekou:before {
  content: "\e66a";
}

.icon-team:before {
  content: "\e7ae";
}

.icon-kuaijieyingyon:before {
  content: "\e67b";
}

.icon-kuaijierukou:before {
  content: "\e6c2";
}

.icon-fanhui:before {
  content: "\e669";
}

.icon-jiedianapp:before {
  content: "\e6f1";
}

.icon-app1:before {
  content: "\e6f2";
}

.icon-web:before {
  content: "\e6fa";
}

.icon-fenzu:before {
  content: "\e629";
}

.icon-erji-dingshirenwu:before {
  content: "\eaae";
}

.icon-jihua:before {
  content: "\e643";
}

.icon-dingshi:before {
  content: "\e645";
}

.icon-tianjiadaofenzu:before {
  content: "\e6dd";
}

.icon-fanhui2:before {
  content: "\e6ff";
}

.icon-back:before {
  content: "\e622";
}

.icon-xiangmu1:before {
  content: "\e60a";
}

.icon-bianji1:before {
  content: "\e613";
}

.icon-bianji2:before {
  content: "\e795";
}

.icon-bianji3:before {
  content: "\e610";
}

.icon-shanchu2:before {
  content: "\e603";
}

.icon-shanchu1:before {
  content: "\e68e";
}

.icon-tianjia-:before {
  content: "\e607";
}

.icon-chuangjiantianjiapiliangtianjia:before {
  content: "\e625";
}

.icon-jiqun-mianxing:before {
  content: "\e65e";
}

.icon-changjing:before {
  content: "\e673";
}

.icon-rizhijilu:before {
  content: "\e61e";
}

.icon-xiaoxi:before {
  content: "\e611";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-bianji11:before {
  content: "\e619";
}

.icon-shanchu3:before {
  content: "\e621";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-zuijinfangwen-:before {
  content: "\e696";
}

.icon-jiantou_shangxiaqiehuan:before {
  content: "\eb09";
}

.icon-jiantou_shangxiaqiehuan_o:before {
  content: "\eb90";
}

.icon-fasong:before {
  content: "\e666";
}

.icon-ceshi-copy:before {
  content: "\ec38";
}

.icon-fasong-copy:before {
  content: "\ec39";
}

.icon-qingkong:before {
  content: "\e946";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-paixu-jiangxu:before {
  content: "\e65f";
}

.icon-paixu-shengxu:before {
  content: "\e660";
}

.icon-icon-:before {
  content: "\e62e";
}

.icon-gengduo:before {
  content: "\e605";
}

.icon-more:before {
  content: "\e626";
}

.icon-zhankai:before {
  content: "\e6b5";
}

.icon-xinzeng:before {
  content: "\e6c8";
}

.icon-arrow-down:before {
  content: "\e606";
}

.icon-W-03:before {
  content: "\e60c";
}

.icon-jiesuo:before {
  content: "\e66b";
}

.icon-suoding:before {
  content: "\e6e6";
}

.icon-btn_confirm:before {
  content: "\e60f";
}

.icon-31fanhui1:before {
  content: "\e608";
}

.icon-ico-:before {
  content: "\e815";
}

.icon-xinzeng-copy:before {
  content: "\ec3a";
}

.icon-icon-1:before {
  content: "\e65b";
}

.icon-jiantou-shang2:before {
  content: "\e63d";
}

.icon-Solid-up:before {
  content: "\e604";
}

.icon-Solid-right:before {
  content: "\e609";
}

.icon-fenxiang:before {
  content: "\e86e";
}

.icon-fenxiang1:before {
  content: "\e627";
}

.icon-lishi:before {
  content: "\e60b";
}

.icon-login:before {
  content: "\e67f";
}

.icon-tianjia:before {
  content: "\e64b";
}

.icon-shaixuan:before {
  content: "\e623";
}

