@font-face {
  font-family: "iconfont"; /* Project id 2517386 */
  src: url('iconfont.woff2?t=1657183474740') format('woff2'),
       url('iconfont.woff?t=1657183474740') format('woff'),
       url('iconfont.ttf?t=1657183474740') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu2:before {
  content: "\e603";
}

.icon-shanchu1:before {
  content: "\e68e";
}

.icon-bianji1:before {
  content: "\e613";
}

.icon-bianji2:before {
  content: "\e795";
}

.icon-bianji3:before {
  content: "\e610";
}

.icon-xiangmu:before {
  content: "\e6c7";
}

.icon-xiangmu1:before {
  content: "\e60a";
}

.icon-bianji:before {
  content: "\e601";
}

.icon-yuyan:before {
  content: "\e640";
}

.icon-user__easyico:before {
  content: "\e600";
}

.icon-yonghutouxiang:before {
  content: "\e634";
}

.icon-fanhui2:before {
  content: "\e6ff";
}

.icon-back:before {
  content: "\e622";
}

.icon-jiedianapp:before {
  content: "\e6f1";
}

.icon-app1:before {
  content: "\e6f2";
}

.icon-web:before {
  content: "\e6fa";
}

.icon-fenzu:before {
  content: "\e629";
}

.icon-erji-dingshirenwu:before {
  content: "\eaae";
}

.icon-jihua:before {
  content: "\e643";
}

.icon-dingshi:before {
  content: "\e645";
}

.icon-tianjiadaofenzu:before {
  content: "\e6dd";
}

.icon-web1:before {
  content: "\eab3";
}

.icon-fanhui:before {
  content: "\e669";
}

.icon-kuaijieyingyon:before {
  content: "\e67b";
}

.icon-kuaijierukou:before {
  content: "\e6c2";
}

.icon-team:before {
  content: "\e7ae";
}

.icon-jiekou:before {
  content: "\e66a";
}

.icon-layers:before {
  content: "\e676";
}

.icon-setting:before {
  content: "\e67d";
}

.icon-quanxian:before {
  content: "\e612";
}

.icon-chengyuan:before {
  content: "\e61c";
}

.icon-APIwangguan:before {
  content: "\e637";
}

.icon-menu:before {
  content: "\e677";
}

.icon-cangchucangku:before {
  content: "\e98c";
}

.icon-fenzhi:before {
  content: "\e98e";
}

.icon-fengfuduoyuan:before {
  content: "\e98f";
}

.icon-kaifang:before {
  content: "\e991";
}

.icon-linghuokuozhan:before {
  content: "\e992";
}

.icon-lianmenglian:before {
  content: "\e993";
}

.icon-wendingkekao:before {
  content: "\e998";
}

.icon-user:before {
  content: "\e99e";
}

.icon-bianjishuru-xianxing:before {
  content: "\e8cc";
}

.icon-fanhui1:before {
  content: "\e602";
}

.icon-api:before {
  content: "\e63b";
}

.icon-folder-close:before {
  content: "\e671";
}

.icon-home:before {
  content: "\e674";
}

.icon-file-open:before {
  content: "\e670";
}

.icon-modular:before {
  content: "\e678";
}

.icon-setting-filling:before {
  content: "\e68b";
}

.icon-shanchu:before {
  content: "\e8b6";
}

