.tccontant{
    display: flex;
    height: 100%;
}

.changeBox{
    border-right: 5px solid #f0f2f5;
}


.repository-name-box{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

    .repository-name-icon{
        width: 18px;
        height: 18px;
        vertical-align: -0.15 em;
        margin: 2px 0 0  0;
    }
}

.repository-name-menu{
    position: absolute;
    left: 200px;
    width: 175px;
    height: 200px;
    background: #fff;
    margin: -42px 0 0 0;
    box-shadow: 0px 0px 13px 0px #cacaca;
    z-index: 1;
}

.show-nav-setting{
    display: block;
}

.hide-nav-setting{
    display: none;
}

.ws-detail-page{
    width: 1240px;
    margin: 0 auto;
}

.wscontant-box{
    width: 1240px;
    margin: 0 auto;
}


.ws-init-box{
    height: 100%;
    overflow: auto;

}

.ws-init-content{
    margin: 0 auto;
    border-radius: var(--pi-border-radius);
    max-width: 1440px;
    min-width: 860px;
    padding: 10px 20px;


    .content-margin-box-header{
        //width: 600px;
        padding: 10px ;

        .wd-header-name{
            //height: 25px;
            font-size: 22px;
            border: none;
        }

        .wd-header-desc{
            border: none;
        }
    }

    .wd-total-box{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        background: #fff;

    }

    .wd-total{
        background: #fff;
        padding: 10px;


        .wd-total-item{
            //width: 260px;
            text-align: center;
            background: var(--pi-bg-grey-100);
            border-radius: 5px;
            padding: 5px 0;

            &-title{
                padding: 5px;
                font-size: 28px;
            }

            &-name{
                padding: 5px;
            }
        }

        .statistic-card-item{
            border-radius: 5px;
            height: 470px;
            background: #f8f8f8;
        }

    }

    .wd-dynamic-box{
        padding: 15px;
        margin: 10px 0 0;
        background: #fff;
        //border: 1px solid var(--pi-border-color);
        border-radius: var(--pi-border-radius);
        min-height: 450px;
    }

}
