.tccontant{
    display: flex;
    height: 100%;
}

.changeBox{
    border-right: 5px solid #f0f2f5;
}
.tccontant-contant{
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.tc-row{
    overflow:auto;
    height: 100%;
    background-color: #f5f5f5;
}

.tc-col{
    background-color: white;
    padding: 0 20px 30px;
}

.tc-side{
    background-color: #fafafa;
    box-shadow: inset -1px 0 0 #e5e5e5;
}

.ts-aside{
    width:240px;
}

.det-box{
    display: flex;
    justify-content: space-around;

    .det-item{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 140px;
    }
}


.repository-name-box{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

    .repository-name-icon{
        width: 18px;
        height: 18px;
        vertical-align: -0.15 em;
        margin: 2px 0 0  0;
    }
}

.repository-name-menu{
    position: absolute;
    left: 200px;
    width: 175px;
    height: 200px;
    background: #fff;
    margin: -42px 0 0 0;
    box-shadow: 0px 0px 13px 0px #cacaca;
    z-index: 1;
}



//workspaceDetailLayout
.ws-detail-contant{
    height: calc(100% - 50px);
    display: flex;


    .ws-detail-left{
        width: 80px;
        height: 100%;
        position:relative;
        background: #efefef;
    }

    .ws-detail-right{
        width: calc(100% - 80px);
        overflow: auto;
    }

}



//leftNav
.ws-detail-left-nav-ws{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;


    .ant-avatar{
        width: 40px;
        height: 40px;
    }


    .ant-avatar.ant-avatar-icon {
        font-size: 22px;
    }
}

.left-nav-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.ws-detail-left-nav{
    width: 80px;
    height: 100%;


    .ws-detail-left-nav-item{
        margin: 0 0 10px;

    }

    .ws-detail-left-nav-item-repository{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;


    }

    .ws-detail-left-nav-item-box{
        padding: 6px 0;
        cursor: pointer;
        border-left: 3px solid var(--pi-bg-grey-200);
    }
    .ws-detail-left-nav-item-box:hover{
        background-color: var(--pi-hover-color);
    }

    .ws-detail-left-nav-item-detail{
        display: flex;
        justify-content: center;
    }
    .selectlink{
        background-color: var(--pi-action-color);
        border-left: 3px solid var(--pi-base-color);
    }

    .ws-detail-left-nav-icon{
        width: 32px;
        height: 32px;
    }

}

.ws-icon-box{
    position: relative;
    display: flex;
    align-items: center;

    .repository-icon{
        width:var(--pi-icon-x);
        height:var(--pi-icon-x);
    }



}
.ws-hover-box{
    //display: none;
    width: 240px;
    position: absolute;
    top: -40px;
    left: 72px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 22%);
    background: #fff;
    z-index: 10;
    overflow: auto;

    .ws-hover-item{
        border-bottom: 1px solid var(--pi-border-color);
        border-radius: var(--pi-border-radius);
        padding: 5px;
        margin: 2px 0 0 0;
        display: flex;
        align-items: center;
    }

    .ws-hover-item:hover{
        background: #f6f6f6;
        cursor: pointer;
    }

    .ws-hover-box-title{
        border-bottom: 1px solid var(--pi-border-color);
        padding: 0 0 5px 5px;
        font-weight: 600;
    }

    .ws-icon-box-toggle-icon{
        width: var(--pi-icon-s);
        height: var(--pi-icon-s);
    }

    .ws-toggle-repository_more{
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 5px;
        background: #f0f0f0;
    }

}

.show-nav-setting{
    display: block;
}

.hide-nav-setting{
    display: none;
}

.ws-detail-page{
    width: 1240px;
    margin: 0 auto;
}

.wscontant-box{
    width: 1240px;
    margin: 0 auto;
}


.content-margin{
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 10px;
}

.ws-init-content{
    margin: 0 auto;
    border-radius: var(--pi-border-radius);
    max-width: 1440px;
    min-width: 860px;
    padding: 0 10px 10px;


    .content-margin-box-header{
        //width: 600px;
        padding: 10px ;

        .wd-header-name{
            //height: 25px;
            font-size: 22px;
            border: none;
        }

        .wd-header-desc{
            border: none;
        }
    }

    .wd-title{
        padding: 10px;
        font-weight: 600;
    }

    .wd-total{
        background: #fff;
        padding: 0 10px 20px;

        .wd-total-box{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            border-radius: var(--pi-border-radius);
            background: #fff;
            margin: 0 10px;
        }

        &-item{
            width: 100px;

            &-title{
                padding: 5px;
                font-size: 28px;
            }

            &-name{
                padding: 5px;
            }
        }

    }

    .wd-dynamic-box{
        padding: 0 10px 20px;
        margin: 10px 0 0;
        background: #fff;
    }

}

.breadcrumb-title_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    height: 40px;

    .case-breadcrumb{
        font-weight: bold;

        .first-item:hover{
            cursor: pointer;
            color: #48a8d9;
        }
    }

    ol{
        display: flex;
        align-items: center;


    }


    .breadcrumb-left{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .case-header_title{
        border: none;
        font-weight: bold;
    }
}
