//headerMenu
.showRepository{
    display: block;
}

.hideRepository{
    display: none;
}
.header-repository-item{
    position: relative;

    .header-repositoryBox{
        background: #f7f7f7;
        position: absolute;
        top: 28px;
        left: -40px;
        z-index: 100;
        width: 180px;
        box-shadow: 2px 5px 10px #cbcbcb;
        height: 180px;
        padding: 10px;

        .header-repository-list-item{
            padding: 5px;
            border-bottom: 1px solid #d9d9d9;
            cursor: pointer;
        }

        .header-repository-list-item:hover{
            background: #efefef;
        }
    }
}




.frame-header{
    display: flex;
    align-items: center;
    background: #f8f8fa;
    border-bottom: 1px solid #e1e1e1;
    //-webkit-app-region: drag;//electron无边框拖动
    //-webkit-app-region: no-drag;

    .frame-header-logo{
        height: 64px;
        width: 100px;
        margin-right: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .header-menu-box{
        display: flex;
        width: 200px;
        justify-content: space-around;

        div{
            cursor: pointer;
        }
    }

    .frame-header-right{
        display: flex;
        flex-direction: row;
        justify-items: flex-end;
        align-items: center;
        height: 100%;
        .frame-header-right-search-wrap{
            position: relative;
            width: 100%;
        }
        .frame-header-right-text{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            width: 100%;
            padding-right: 20px;
            a{
                padding: 0 20px;
                //color: hsla(0,0%,100%,.65);
            }
            >span {
                cursor: pointer;
                padding: 0 20px;
                color:  #444444;
            }
            .badge{
                position: relative;
                .dot{
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    position: absolute;
                    top: -5px;
                    right: 3px;
                    background: #FF8989;
                }
            }
            .messageNum{
                font-size: 25px;
                color: #0063FF;
            }

        }
    }
    .frame-header-dropdown{
        margin-left: 20px;
    }
}

.frame-search-content{
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 1;
    overflow: auto;
    ul,li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.show {
    max-height: 350px;
    transition: max-height .3s ease-in;
    transform-origin: 50% 0;
    animation: slide-down 0.3s ease-in;
    -webkit-animation: slide-down 0.3s ease-in;
    padding: 20px;
}

.hidden {
    max-height: 0;
    overflow: auto;
    transition: max-height .3s ease-out;
}

@keyframes slide-down{
    0%{transform:scale(1,0);}
    100%{transform:scale(1,1);}
}

@-webkit-keyframes slide-down{
    0%{-webkit-transform:scale(1,0);}
    100%{-webkit-transform:scale(1,1);}
}
