
.env-select{
    width: 200px;
}

.env-click{
    border-top: 1px solid #e4e4e4;
    padding: 8px 12px;
    cursor: pointer;
}

.env-click:hover{
    background: #fcfcfc;
}

.modal-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0 0 0;
}

.env-tab-box{
    margin: 0 0  10px 0 ;

    .header-box-margin{
        margin: 10px 0;
    }

    .ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav{
        margin: 0;
    }

    .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
        border-bottom: 0;
    }
}


.select-box{
    width: 130px;
    height: 32px;
    border-radius: var(--pi-border-radius);
    border: var(--pi-input-border);
    background-color: #fafbfc;
    font-size: 12px!important;
}

.env-select-box{
    width: 100%;
    height: 32px;
    border-radius: var(--pi-border-radius);
    border: var(--pi-input-border);
    border: var(--pi-input-border);
    background-color: white;
    font-size: 12px!important;
}


