
.perfom-config-item{
    display: flex;
    align-items: center;
    height: 32px;
    margin: 0 0 20px 0 ;


    .ant-btn:active, .ant-btn:focus, .ant-btn:hover{
        background: #2196f3;
        color: white;
        border-color:#2196f3 ;
    }
}

.perform-item-detail{
    margin: 0 30px 0 0;



}

.exeMode{
    background: #2196f3;
    color: white;
}


//

.history-detail-box{
    display: flex;
    flex-direction: column;

    .history-item-box{
        display: flex;
        flex-grow: 1;
    }
    .history-detail-all-box{
        height: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    .history-detail-all-item{
        width: 200px;
        height: 100px;
        background: #efefef;
        border-radius: 5px;
        padding: 5px;
    }

    .history-detail-all-item-value{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }

}

.history-detail{
    flex: 1;

    .history-detail-all{
        height: 180px;
    }
}

.scene-step-detail-box{



    .scene-step-detail-contant{
        display: flex;
        margin: 35px;

        .scene-step-detail-item{
            width: 260px;
            margin: 30px;
            border-bottom: 1px solid #dddddd;
        }

        .scene-step-detail-item-value{
            font-size: 28px;
        }
    }
}



.scene-step-detail{
    flex: 1;
}

.scene-step-contant{
    width: 240px;
    height: 400px;
    border: 1px solid #e4e4e4;
}

.perform-client-box{
    margin: 10px;
    height: 100px;
}

.perform-client-item{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #e4e4e4;

    .perform-client-item-status{
        display: flex;
        align-items: center;

        .perform-client-item-status-icon{
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: #4ccf4c;
            display: inline-block;
            margin: 6px;
        }

    }

    .perform-client-item-check{
        align-self: flex-start;
    }
}