.case-list-main{
    display: flex;
    height: 100%;

    .case-list-left{
        width: 300px;
        border-right: 1px solid #e2e2e2;

        .case-list-left-top{
            padding: 5px 10px 10px;
            border-bottom: 1px solid #e2e2e2;

            .search-input-common{
                width: 280px !important;
            }

            .advanced-filter-box{
                position: relative;

                .advanced-filter-toggle-box{
                    padding: 10px;
                    position: absolute;
                    top: 20px;
                    left: 30px;
                    background: var(--pi-bg-grey-100);
                    width: 240px;
                    min-height: 200px;
                    z-index: 1;
                    border-radius: 5px;
                    box-shadow: 0 3px 11px rgb(140 149 159 / 50%);
                }
                .advanced-filter-item-title{
                    padding: 5px 10px;
                    text-align: left;
                }
            }
        }

        .case-list-left-list-box{
            height: calc(100% - 163px);
            padding: 0 0 10px 0;

            .case-list-box{
                height: 100%;
                overflow: auto;
                padding: 5px;

                .case-list-item{
                    padding: 5px 10px;
                    margin: 5px 0;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover{
                        background: var(--pi-hover-color);
                    }

                    .case-list-item-title{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                        white-space: nowrap;
                    }

                    .case-list-item-type{
                        font-size: 11px;
                        background: #f4f4f4;
                        border: 1px solid #e3e3e3;
                        border-radius: 5px;
                        padding: 0 5px;
                    }

                }

                .case-list-item-action{
                    background: var(--pi-action-color);
                }

            }

            .case-list-bottom{
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;
                background: #f8f8f8;

                .case-list-bottom-total{
                    font-size: 12px;
                    color: #999;
                    width: 50px;
                }

                .pagination-box{
                    width: unset;
                    padding: unset;
                }
                .case-list-bottom-reload{
                    width: 50px;
                    text-align: right;
                    color: #999;
                    cursor: pointer;
                }
            }

        }
    }



    .case-list-right {
        flex: 1;
        overflow: auto;
    }
}