
.case-list-main{
    display: flex;
    height: 100%;

    .icon-bg-grey{
        background:#f8f8f8;
        padding:0 5px;
        border: 1px solid #f6efef;
        border-radius: 5px;
    }

    .case-list-left{
        width: 300px;
        border-right: 1px solid #e2e2e2;
        background: #fafbfc;

        .case-list-left-top{
            padding: 15px 10px 10px;

            .case-search-input{
                width: 280px !important;
                border-radius: var(--pi-border-radius)!important;
                background: var(--pi-bg-grey-100);
                border: 1px solid #f4f2f2;

                .ant-input-affix-wrapper{
                    border: 0;
                }

                .ant-input{
                    background: white;
                }

                .ant-input-group-addon{
                    padding: 0 0 0 11px;
                    border: 0;
                    background: white;
                }
            }

            .advanced-filter-box{
                position: relative;

                .advanced-filter-btn{
                    cursor: pointer;
                     width: 30px;
                    height: 30px;
                    color: #a3a3a3;
                    font-size: 12px;
                    background: white;
                    padding: 0px 5px;
                    display: flex;
                    align-items: center;
                    gap:5px;
                    border-radius: 5px;
                    //border: 1px solid #f6efef;
                }

                .advanced-filter-toggle-box{
                    padding: 10px;
                    position: absolute;
                    top: 31px;
                    left: 0px;
                    background: var(--pi-bg-grey-100);
                    width: 240px;
                    min-height: 200px;
                    z-index: 1;
                    border-radius: 5px;
                    box-shadow: 0 3px 11px rgb(140 149 159 / 50%);
                }
                .advanced-filter-item-title{
                    padding: 5px 10px;
                    text-align: left;
                }
            }
        }


        .case-list-left-list-box{
            height: calc(100% - 138px);
            padding: 0 0 10px 0;
            overflow: auto;

            .filter-box{
                margin: 0 6px 0 10px;
                display: flex;
                justify-content: space-between;
                gap: 5px;

                .select-testcase-box{
                    background: #e3e8f094;
                    border-radius: var(--pi-border-radius);
                    width: 135px;
                    //border: 1px solid #eaeaea;
                    border:0;
                }
            }

            .case-list-box{
                height: 100%;

                padding: 5px 5px 5px 10px;

                .case-list-item{
                    padding: 5px 10px;
                    margin: 5px 0;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover{
                        background: var(--pi-hover-color);
                    }

                    .case-list-item-title{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                        white-space: nowrap;
                    }

                    .case-list-item-type{
                        font-size: 11px;
                        background: #f4f4f4;
                        border: 1px solid #e3e3e3;
                        border-radius: 5px;
                        padding: 0 5px;
                    }

                }

                .case-list-item-action{
                    background: var(--pi-action-color);
                }

            }

        }

        .case-list-bottom{
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            //background: #f8f8f8;

            .case-list-bottom-total{
                font-size: 12px;
                color: #999;
                width: 50px;
            }

            .pagination-box{
                width: unset;
                padding: unset;
            }
            .case-list-bottom-reload{
                width: 50px;
                text-align: right;
                color: #999;
                cursor: pointer;
            }
        }

    }



    .case-list-right {
        flex: 1;
        overflow: auto;
    }
}

.select-testcase-content{
    .ant-select-item-option-content{
        display: flex;
        justify-content: space-between;

    }

    .ant-select-item-option-state{
        display: none;
    }
}