.integrated_content-box{
    margin: 0 auto;
    width: 930px;


    .integrated_workspace-bind{
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0 6px;
    }
}

