.case-header{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.form-info{
    padding: 10px 25px;
    .ant-input[disabled] {
        font-size: 14px;
        color: #000;
        cursor: text;
    }
}

.title{
    font-weight: bold;
    border-left: 3px solid #1890ff;
    padding-left: 3px;
}

.test-title{
    background: #f5f5f5;
    height: 35px;
    line-height: 35px;
    padding: 0 0 0 5px;
    border-left: 3px solid #48a8d9;
}

.ex-title{
    margin: 15px 0;
}

.baseInfo{
    padding: 10px;
}

// step
$backgroud-color: #fff;
.step-header{
    line-height: 47px;
    background-color:$backgroud-color;
    height: 50px;
    border-bottom:1px solid #d9d9d9 ;
}

.step-menu-box>.ant-menu-horizontal{
    border-bottom:0px
}

.step-content{
    background-color:$backgroud-color;
    padding:10px 0 0  0;
}

.step-menu{
    background-color:$backgroud-color;
}


// --------------------------------
// Detail
.apidetail-header-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apidetail-title-tool{
    display: flex;
}

/* 可编辑框初始宽度 */
.editable-cell-value-wrap {
    width: 100%;
    height: 100%;
    min-height: 21px;

}

.step-request{
    margin: 0 10px 15px 10px  ;
    padding: 10px ;
    box-sizing: border-box;
    border-radius: 5px;
}

.step-response{
    margin: 15px 10px;
    padding: 10px ;
    box-sizing: border-box;
    border-radius: 5px;
}

// 可编辑表格，当鼠标移入行时，显示单元格
.editable-row{
    .editable-cell-value-wrap {
        height: 31.6px;
        padding: 5px 12px;
        cursor: pointer;
        background-color: white;
    }

    .ant-select{
        height: 31.6px;
        cursor: pointer;
        background-color: white;
    }

    .ant-select-arrow{
        display: none;
    }

    .ant-checkbox-inner{
        border:none
    }
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

.editable-row:hover .ant-select {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.editable-row:hover .ant-select-arrow{
    display: block;
}

.editable-row:hover .ant-checkbox-inner{
    border: 1px solid #d9d9d9;
}


// request
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:#0053ca;
}

.mock-textarea{
    display: flex;
    justify-content: flex-end;
}

.textArea-focus{
    display: block;
}

.textArea-blur{
    display: none;
}

//detail
.apidetail-header-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apidetail-title-tool{
    display: flex;
}

.method-name{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 25px;
}

.method{
    padding: 0 0 0 25px;
    //border-bottom: 1px solid #d9d9d9;
    margin: 0 0 30px 0 ;

    .method-info{


        .method-info-item{
            margin: 0 10px 10px 0;
        }

        .method-info-path{
            font-size: 16px;
            font-weight: 600;
        }
    }

    .info-item{
        margin: 0 0 25px 0;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
        border: none;
    }

}

.method-people-info{
    margin: 10px 0;

    .people-item{
        margin: 0 80px 0 0;
        color: #999;
    }
}


//instance
.header-item{
    padding: 8px;
    background: #f5f5f5;
}

.back-contant:hover{
    color: #48a8d9;
    cursor: pointer;
}

.back-ex-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    height: 42px;
}

.unit-instance{
    height: 100%;
    display: flex;

    .unit-instance-detail{
        width: 100%;
        //padding: 20px 30px 0 30px;
    }
}

.test-detail-history{
    height: 100%;
    width: 240px;
    border: 1px solid #e4e4e4;
    border-top: none;
    overflow: auto;

    .test-detail-history-title{
        height: 30px;
        text-align: center;
        line-height: 28px;
        background: #efefef;
    }



    .history-item{
        font-size: 13px;
        display: flex;
        border-bottom: 1px solid #e4e4e4;
        padding: 10px;


    }
}

.history-item:hover{
    background: #e2f3ff;
    cursor: pointer;
}

.history-item-selected{
    background: #e2f3ff;
}

.history-item-result{
    color: #fff;
    height: 22px;
    padding: 1px;
    border-radius: 3px;
    margin:  auto 20px;
}


.isSucceed{
    width: 45px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: #4f9854;
}
.isFailed{
    width: 45px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: #f04949;
}

.scene-instance-contant{
    display: flex;
    height: 100%;

    .scene-step-contant{
        width: 240px;
        border-right: 1px solid #e4e4e4;
    }

    .scene-step-detail{
        flex: 1;
    }
}


.history-step-item{
    display: flex;
    padding: 5px;
    cursor: pointer;
}
.history-step-item:hover{
    background: #e2f3ff;
}

.apiscene-test{
    padding: 10px 100px;
    border: 1px solid #e4e4e4;
}