.select-menu-box{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 300px;

    .select-menu-item{
        padding: 10px 0;
        flex: 1;
        text-align: center;
        cursor: pointer;
        border-bottom: 2px solid #ffffff00;

    }

    .select-menu-item:hover{
        border-bottom:2px solid  var(--pi-base-color);
        color:  var(--pi-base-color);
    }

    .select-menu-item-selected{
        color:  var(--pi-base-color);
        border-bottom:2px solid  var(--pi-base-color);
    }
}

