.case-table-name{
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-main-box{
    height: 100%;
    overflow: auto;
    width: 100%;
}
.testcase-box{
    min-width: 860px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}
.dynamic-select-box{
    margin:0 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.dynamic-select-box-item{
    width: 150px;

    .ant-select-selector{
        border-radius: var(--pi-border-radius)!important;
        border: none!important;
        background-color: #f4f5f7!important;
    }
}

.tc-header-menu-left{
    display: flex;
    align-items: center;
    gap: 20px;
    width:140px;


    .tc-header-menu-item{
        padding: 10px 0;
        flex: 1;
        text-align: center;
        cursor: pointer;
        border-bottom: 3px solid #ffffff00;

        span{
            font-size: var(--pi-font-size-14);
            //font-weight: var(--pi-font-weight-title);
        }
    }

    .tc-header-menu-item:hover{
        border-bottom:3px solid  var(--pi-base-color);
        color:  var(--pi-base-color);
    }

    .tc-header-menu-item-selected{
        color:  var(--pi-base-color);
        border-bottom:3px solid  var(--pi-base-color);
    }
}


.table-list-box{

    .ant-table{
        border-bottom: 1px solid var(--pi-border-color);
    }



    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 8px;
    }

    .ant-table-thead > tr > th{
        background:var(--pi-bg-color);
        font-weight: 500;
    }

    .ant-table-tbody > tr > td{
        border-bottom: 0;
    }

    .tablelist  .ant-spin-nested-loading .ant-spin-container .ant-table-container .ant-table-tbody{
        border-bottom: 1px solid #f0f0f0;
    }

    .ant-table-tbody>tr>td,  .ant-table tfoot>tr>td, .ant-table tfoot>tr>th{
        padding: 8px ;
    }

    .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
        content: none;
    }
}

.edit-icon{
    cursor:pointer;
    margin: 5px 0 0;
}


.case-unit-step-box{
    width: 600px;
    margin: 10px;


    .ant-input{
        background: #fafafa;
    }

    .ant-input:hover{
        background: var(--pi-hover-color);
    }
}

.case-list_ul{
    padding: 10px;
    height: calc(100% - 75px);
    overflow: auto;

    .case-list_li{
        padding: 10px;
        cursor: pointer;
        border-radius: 8px;
        display: flex;
        align-items: center;
        margin: 0 0 5px 0;
        position: relative;


        .case-list_li_item{
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
        }

        .case-list_li_delete{
            display: none;
            position: absolute;
            top: 25%;
            right: 10px;
        }

        &:hover .case-list_li_delete{
            display: block;
        }

    }

    .case-list_li:hover{
        background: var(--pi-hover-color);
    }

    .case-list_li_selected{
        background: var(--pi-action-color);
    }
}

.case-list_bottom{
    border-top: 1px solid #e4e4e4;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}




.test-detail-from{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    padding: 0 15px;

    .test-detail-form-item{
        width: 130px;
        background: #efefef;
        padding: 15px;
        border-radius: 5px;
    }

    .test-detail-form-label{
        font-size: 13px;
    }

    .ant-form-item{
        margin: 0;

        .ant-input{
            width: 110px;
            border:0;
            background-color: #efefef;
            padding: 0;
            font-size: 22px;
            color: #000;
        }
    }
}
.content-box-center{
    height: 100%;
}


.case-title_weight{
    padding: 5px;
    font-weight: bold;
}

.case-step_box{
    height: 100%;
    display: flex;

    .case-step_left{
        height: 100%;
        width: 300px;
        border:1px solid #e4e4e4;

        .case-step_add{
            padding: 10px;
            border-bottom: 1px solid #e4e4e4;
            cursor: pointer;
            text-align: center;

            &:hover{
                background: #f6f6f6 ;
            }
        }
    }

    .case-list_right{
        flex: 1;

        .case-step-title{
            font-weight: bold;
            margin: 0 0 10px 0 ;
        }

        .case-step_right_box{
            margin:0 0 20px 0;

            .ant-form-item-label > label{
                font-size: 12px;
                color: #a0a0a0;
            }
        }
    }

    .ui-case-list_right{
        border: 1px solid #e4e4e4;
        border-left: none;
        padding: 10px;
        height: calc(100% - -1px);
        overflow: hidden;

        .ant-input{
            height: 36px;
            border-radius: 5px;
            border: 1px solid #e4e4e4;
        }

        .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector{
            height: 36px;
            border-radius: 5px;
            border: 1px solid #e4e4e4;
        }

        .ant-form-item{
            margin-bottom: 15px;
        }
    }



}


.ant-tabs{
    height: 100%;

    .ant-tabs-content{
        height: 100%;

        .ant-tabs-tabpane{
            height: 100%;
        }
    }
}


.case-tabs-box{
    height:calc(100% - 35px);

    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap{
        height: 35px;
    }
}


.case-bind_box{
    padding: 10px 5px;
    box-shadow: 0 0 10px #e4e4e4;
    margin: 10px;
    height: calc(100% - 5px);
}

.history-detail-box{
    display: flex;
    flex-direction: column;


    .history-item-box{
        display: flex;
        flex-grow: 1;
        overflow: hidden;
    }
}

.history-detail-all-box{
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.history-detail-all-item{
    width: 180px;
    height: 100px;
    background: #efefef;
    border-radius: 5px;
    padding: 5px;
}

.history-detail-all-item-value{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
.history-detail{
    flex: 1;
    height: 100%;

    .history-detail-all{
        //height: 180px;
    }
}

.test-data-name{
    border: none;
    border-bottom: 1px solid #e4e4e4;

    &:hover{
        background: var(--pi-hover-color);
    }
}