:root{
    //-----公共定义-----
    // 色调
    --tiklab-white: #fff;  // 主色调白
    --tiklab-black: #000;  // 主色调黑
    --tiklab-blue: #0078d4;  // 主色调蓝
    --tiklab-gray-200: #ececec;  // border 的边线
    --tiklab-gray-300: #EDF0F5;  // hover颜色
    --tiklab-gray-400: #e3e8f0;  // 左侧导航 选中颜色
    --tiklab-gray-500: #999; // 文字次级颜色灰色调
    --tiklab-gray: #efefef; // 主色调灰 左侧导航

    // 边距
    --tiklab-padding: 20px; //页面边距
    --tiklab-padding-resove: -20px; //页面边距
    --tiklab-padding-item: 15px; //元素间隔边距
    --tiklab-padding-resove-item:-15px; //元素间隔边距

    // 标题
    --tiklab-font-12: 12px; // 图文排需要的文字
    --tiklab-font-13: 13px;  // 描述文字
    --tiklab-font-14: 14px; // 正文
    --tiklab-font-15: 15px; // 2级标题
    --tiklab-font-16: 16px; // 标题

    // 图标大小
    --tiklab-icon-size-16: 16px;
    --tiklab-icon-size-20: 20px;
    --tiklab-icon-size-22: 22px;
    --tiklab-icon-size-32: 32px;

    // 字重
    --tiklab-font-weight-bold: bold; // 标题字重


    //----项目内定义----
    --pi-base-color:var(--tiklab-blue);  //着重色
    --pi-bg-grey-100:#f7f7f7;
    --pi-bg-grey-200:#ededed;
    --pi-bg-color:var(--tiklab-white);

    --pi-hover-color:var(--tiklab-gray-300); //hover颜色
    --pi-action-color:var(--tiklab-gray-400); //选中


    --pi-background-color:#f6f8fa;

    --pi-font-size-16:var(--tiklab-font-16);
    --pi-font-size-14:var(--tiklab-font-14);
    --pi-font-size-13:var(--tiklab-font-13);
    --pi-font-size-12:var(--tiklab-font-12);

    --pi-page-padding:var(--tiklab-padding-item); //页面边距
    --pi-font-weight-title:var(--tiklab-font-weight-bold); //加粗
    --pi-font-weight-light:400;


    --pi-icon-s:var(--tiklab-icon-size-16);
    --pi-icon-m:var(--tiklab-icon-size-20);
    --pi-icon-l:var(--tiklab-icon-size-22);
    --pi-icon-x:var(--tiklab-icon-size-32);

    --pi-calc-content:calc(100% - 48px);

    --pi-greyf9-color: #f9f9f9; //悬浮颜色
    --pi-border-color:#f0f0f0; //边框颜色
    --pi-box-shadow: 0 3px 6px rgb(140 149 159 / 15%);  //阴影
    --pi-border-radius:4px; //边框圆角
    //--pi-input-border:2px solid hsla(0,0%,86.7%,.8666666667);
    --pi-input-border:1px solid var(--tiklab-gray-200);

    --pi-font-family:Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Roboto,Oxygen,
    Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica,Arial,sans-serif; // 字体

    //其他  接口请求方法的颜色，如 post为 red
    --pi-error-color: #ff000070;
    --pi-warning-color: #ffb40070;
    --pi-success-color:#0cbb5270;
    --pi-delete-color:#ff818170;
    --pi-head-color:#43959170;
    --pi-put-color:#7e97bd70;
    --pi-option-color: #5a5cff70;
    --pi-patch-color: #b561ff70;


}