
.main-content{
    height: 100%;
    display: flex;

}

.toggle-hover{
    position: relative;
    line-height: 12px;


    .toggle-hidden-box{
        z-index: 9;
        display: none;
        position: absolute;
        border: 1px solid var(--pi-border-color);
        background: var(--pi-bg-color);
        box-shadow: var(--pi-box-shadow);


        .user-detail-box{
            display: flex;
            //justify-content: space-between;
            //align-items: center;
            padding: 10px;
            border-bottom: 1px solid var(--pi-border-color);


            .user-detail-item{
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .user-detail-item-name{
                    font-weight: bold;
                }
            }

            .user-detail-item-icon{
                margin: 0 10px 0 0;
            }

        }

        .user-hidden-item{

            padding: 5px;
            display: flex;
            align-items: center;
        }

        .user-hidden-item-lan{
            padding: 5px;
            position: relative;
            cursor: pointer;

            .header-lan-box{
                padding:10px;
                width: 80px;
                display: none;
                position: absolute;
                left: -80px;
                top: 10px;

                .header-lan-box-item{
                    padding:5px;
                }
            }
        }

        .user-hidden-item-lan:hover  .header-lan-box{
            display: block;
            background: var(--pi-bg-color);
            border: 1px solid var(--pi-border-color);
            box-shadow: var(--pi-box-shadow);
        }

        .user-hidden-item-disable{
            padding: 10px;
            cursor: not-allowed;
            color: #c9c9c9;
        }

        .user-hidden-item:hover{
            background: #efefef;
            cursor: pointer;
            border-radius: var(--pi-border-radius);
        }

        .header-user-icon{

            .tiklab-profile{

                .ant-avatar {
                    width: 32px;
                    height: 32px;

                }
            }

        }
    }

    .header-user-box{
        width: 230px;
        left: -200px;
        padding: 0;
    }

    .setting-setting-box{
        width: 180px;
        left: -150px;
        padding: 10px;
    }

}

.toggle-hover:hover  .toggle-hidden-box{
    display: block;
}



.frame-header{
    padding: 0 10px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #efefef;

    .frame-header-logo{
        height: 24px;
        width: 15px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .productName{
        font-size: 20px;
        font-weight: 600;

    }
    .header-menu-box{
        display: flex;
        width: 120px;
        justify-content: space-around;
        align-items: center;
        height: 48px;


        .header-menu-item{
            padding: 10px 0;
            border-bottom: 3px solid rgba(255, 255, 255, 0);
            text-align: center;
        }


        .header-menu-item-label{
            padding:  2px 6px;
            border-radius: var(--pi-border-radius);
        }

        .header-menu-item-label:hover{
            background: #091e4224;
        }

        .header-menu-item-label:active{
            background: #85b8ff;
            color: white;
        }

        .header-menu-item-label-action{
            color: var(--pi-base-color);
        }

        .header-menu-item-action{
            border-bottom: 3px solid var(--pi-base-color);
        }

        div{
            cursor: pointer;
        }

        .ant-menu-title-content{
            font-size: var(--pi-font-size-14);
            color: white;
        }

        .ant-menu-horizontal{
            border-bottom: none;
            background: var(--pi-base-color);

        }

    }


    .pi-header-left{
        display: flex;
        align-items: center;
        gap: 15px;


        .licence_dropdown{
            width: 32px;
            height: 32px;
            text-align: center;

            .licence_dropdown_block_item{
                flex: 1;
            }
            .licence_dropdown_block_icon{
                font-size: unset;
            }
        }
    }


    .frame-header-right-box{
        display: flex;
        margin:0 15px 0 0;
        align-items: center;
        gap: 15px;
    }

    .recovery-item{
        .licence_dropdown_block_item{
            height: 32px;
            display: flex;
            align-items: center;
        }
    }

    .header-right-item{
        padding: 2px;

        .header-icon-item{
            font-size: 24px;
            //color: white;
            cursor: pointer;

            &:hover{
                color: rgb(0, 82, 204);
            }
        }
    }

    .header-right-item:hover{
        background-color: rgba(222, 235, 255, 0.9);
        border-radius: 50%;
    }



}
