
.test-detail-contant{
  display: flex;
  height: 100%;



  .test-report-detail{
    margin: 0 0 0 30px;
    width: 100%;
  }



  .test-detail-step-title{
    background: #f5f5f5;
    padding: 8px;
    border-left: 4px solid #0095ff;
  }

  .test-detail-step-list{
    margin: 20px 0;
  }
}

.test-detail-from{
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 0 15px;

  .test-detail-form-item{
    width: 130px;
    background: #efefef;
    padding: 15px;
    border-radius: 5px;
  }

  .test-detail-form-label{
    font-size: 13px;
  }

  .ant-form-item{
    margin: 0;

    .ant-input{
      width: 110px;
      border:0;
      background-color: #efefef;
      padding: 0;
      font-size: 22px;
      color: #000;
    }
  }
}