//requestType
.requestType{
    height: 25px;
    padding: 2px 5px;
    border-radius: 3px;
}

.requestType-post{
    color: white;
    background: #d55e4d;
}

.requestType-get{
    color: white;
    background: #2bd583;
}

.requestType-delete{
    color: white;
    background: #ff0000;
}

.requestType-head{
    color: white;
    background: #439591;
}

.requestType-put{
    color: white;
    background: #7e97bd;
}

.requestType-options{
    color: white;
    background: #7e97bd;
}

.requestType-patch{
    color: white;
    background: #7e97bd;
}


// testResultCommon
.test-response-before{
    position: relative;
    margin: 10px 0 0 0;
    height: 150px;
    border: 1px solid #eaeaea
}
.test-response-before-alert{
    // width: 200px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -10px;

}

.test-response-show{
    display: block;
}
.test-response-hide{
    display: none;
}


.test-responseInfo{
    width: 200px;
    display: flex;
    justify-content: space-around;
}


//testDarg

.middleBox{
    height:10px
}

.middleBox:hover{
    cursor: n-resize;
    background:#8282ff;
}

#bottom{

}
.test-darg-contant{
    overflow: hidden;
    height: 900px;
}


.ws-side-menu{
    border-right: 1px solid #e4e4e4;

}


// ws左侧导航
.ws-menu-ul {
    padding: 0;
    .ws-menu-li {
        padding: 0 40px;
        height: 40px;
        width: 240px;
        line-height: 40px;
        display: block;
        cursor: pointer;
        border-radius: 10px;
        margin: 5px;
    }

    .ws-menu-li:hover{
        background-color: #f3f3f3;
        //margin: 5px 20px;
    }
    .ws-menu-li-action{

        background-color: #f3f3f3;

    }
}


.teston-breadcrumb{
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 1px solid #ececec;
    margin: 0 0 5px 0;
}


.edit-api-name{
    padding:10px;
    font-size:20px;
    cursor: auto
}

.ediText-edit{
    background: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
}

.ediText-save{
    display: none;
}

.ediText-cancel{
    display: none;
}

.edit-api-title{
    cursor: auto;
}


.teston-page-center{
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}