

.home-content{
    overflow: auto;
    /*background-color:#f0f2f5;*/
    height: var(--pi-calc-content);
    background: var(--pi-bg-grey-100);

    .home-content-box{
        /*width: 800px;*/
        margin: 0 auto;
        width: 1220px;
        padding: 10px 10px 0 10px ;

        .ant-list-item-meta{
            align-items: center;
        }

        .home-box-item{
            border: 1px solid var(--pi-border-color);
            //width: 595px;
            //min-height: 425px;
            margin-bottom: 10px;
            border-radius: var(--pi-border-radius);
            background: var(--pi-bg-color);
            //box-shadow: 0 3px 6px rgb(140 149 159 / 15%);
            overflow: hidden;
        }

        //}

        .home-item-title-box{
            padding: 10px;
            margin: 0 0 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .home-item-title{
                display: flex;
                align-items: center;
                font-weight: var(--pi-font-weight-title);
                font-size: var(--pi-font-size-16);
            }

            .home-item-title-icon{
                margin: 0 5px 0 0;
            }



        }

        .home-box-item-dynamic{
            border-radius: var(--pi-border-radius);
            border: 1px solid var(--pi-border-color);
            background: #fff;
            margin: 0 0 10px 0;
            //box-shadow: 0 3px 6px rgb(140 149 159 / 15%);

        }

    }
}

.home-box-item-detail{
    padding: 10px;
    min-height: 130px;

    .home-recent-box{
        display: flex;
        align-items: center;

        .home-recent-item{
            height: 100px;
            width: 210px;
            //border: 1px solid var(--pi-border-color);
            border-radius: var(--pi-border-radius) ;
            margin: 0 20px 10px 0;
            background: #f5f5f5;
            padding: 10px;
            cursor: pointer;
            border-bottom: 2px solid #ffffff00;


            &-left{
                display: flex;
                align-items: center;

                &-name{
                    margin: 0 0 0 10px;
                    font-size: var(--pi-font-size-16);
                    font-weight: bold;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }


            &-num{
                padding: 10px;
                display: flex;
                align-items: center;

                &-title{
                    font-size: 13px;
                    color: #9b9b9b;
                    margin: 0 10px 0 0;
                }
            }
        }

        .home-recent-item:hover{
            border-radius: var(--pi-border-radius) var(--pi-border-radius) 0 0;
            border-bottom: 2px solid var(--pi-base-color);
            transition: 1s;
        }

        .ant-empty{
            margin: 0 auto;
        }

    }
}

.ws-img-icon{
    //width: var(--pi-icon-x);
    //height: var(--pi-icon-x);
    width: 40px;
    height: 40px;
}

.dynamic-item-box-icon{
    width: 30px;
    height: 30px;
    //margin: 0 10px 0 0;
}

.demo-loadmore-list {
    min-height: 350px;

    .ant-list-items .ant-list-item{
        border: none;
    }
}


.home-title{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.home-item-box{
    border: 1px solid var(--pi-border-color);
    padding: 20px;
    height: 150px;
}

.home-detail-box{
    display: flex;

    .home-detail-left{
        width:240px;

        .home-detail-left-menu{
            margin: 45px 0 40px;
            border: 1px solid var(--pi-border-color);
            padding: 0 0 100px 0;
            border-radius: var(--pi-border-radius);
        }

        .home-detail-list-li{
            padding: 10px;
        }

        .home-detail-list-li:hover{
            background: #f5f5f5;
            cursor: pointer;
        }


        .home-detail-left-help{
            border: 1px solid var(--pi-border-color);
            padding: 0 0 100px 0;
            border-radius: var(--pi-border-radius);
        }

        .home-help-item{
            padding: 10px;
            //display: block;
            color: black;
        }
    }

}

.home-detail-right{
    flex: 1;
    margin: 0 0 0 40px;

    &-top{
        display: flex;
        margin: 0 0 40px 0;

        &-begin{
            height: 200px;
            width: 200px;


            &-detail{
                border-radius: var(--pi-border-radius);
            }
        }

        &-workspace{
            margin: 0 0 0 60px;

            &-detail{
                display: flex;
                width: 600px;
                justify-content: space-around;
                border-radius: var(--pi-border-radius);


            }
        }
    }
}

.home-dynamic-item{
    padding: 5px;
    border-bottom: 1px solid var(--pi-border-color);

    &-time{
        font-size: 13px;
        padding:0 5px ;
    }
}


.dynamic-detail-header{
    display: flex;
    align-items: center;
    //cursor: pointer;

}


.dynamic-detail {
    height: calc(100% - 48px);
    overflow: auto;
    background: var(--pi-bg-grey-100);
    padding: 10px;

    .dynamic-detail-box {
        background-color: white;
        padding: 10px;
        border-radius: var(--pi-border-radius);
        margin: 0 auto;
        max-width: 1260px;
        min-width: 860px;

        .dynamic-select-box{
            margin: 15px;

            .dynamic-select-box-item{
                width: 150px;
                margin: 0 15px 0 0;

                .ant-select-selector{
                    border-radius: var(--pi-border-radius)!important;
                    border: none!important;
                    background-color: #f4f5f7!important;
                }
            }
        }

        .dynamic-detail-box-list{
            padding:0 15px;
        }
    }
}

