.teston-home-box{
    margin: 20px;
}

.teston-home{
    width: 1240px;
    margin: 0 auto;
    display: flex;

    &-left{
        width: 300px;

        &-user{
            display: flex;
            align-items: center;

            &-icon{
                width: 60px;
                height: 60px;
            }

            &-info{
                margin:0 0 0 10px ;

                &-name{
                    font-size: 22px;
                    font-weight: 600;
                }

                &-mail{
                    font-size: 13px;
                    color: #b1b1b1;
                }
            }
        }

        .teston-home-left-start{
            width: 300px;
            margin: 20px 0 ;
            border: 1px solid #f1f1f1;

        }

        .teston-home-left-header{
            border-bottom: 1px solid #f1f1f1;
            padding: 10px;
        }

        .teston-home-left-icon{
            width: 26px;
            height: 26px;
        }

        .teston-home-left-rep{
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;

            &-title{
                margin: 0 0 0 10px;
            }
        }

        .teston-home-left-rep:hover{
            background: #efefef;
        }

     }

    &-right{
        margin: 0 20px;

        &-item{
            border: 1px solid #efefef;
            border-radius: 6px;
        }

        &-recent{
            margin: 20px 0 ;
        }

    }


    .teston-home-header{
        padding: 10px;
        background: #efefef;
    }
}