.select-item {
    display: flex;
    align-items: center;
    height: 35px;
    line-height: 35px;
    padding: 0px 20px;
   .select-item-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
   }

}
.select-item:hover {
    background-color: var(--tiklab-gray-400);
}

