.portal-layout-header{
    background: #48a8d9;
    color: #b0deee;

    .portal-header-link div{
        color: #b0deee;
    }

    .portal-header-link-active{
        color: #ffffff!important;
    }
    
}

.portal-layout{
    height: 100% ;
}