.form-edit1{
    margin: 0 0 25px 55px;
}

.desc-text:hover{
    border: 1px solid #e4e4e4;
}
.funtionalTest-step{
    .ant-table-cell{
        padding: 6px;
    }
    //功能测试步骤可编辑表格中的单元格
    .editable-cell-value-wrap-step{
        height: 85px;
        padding: 5px 12px;
        cursor: pointer;
        background-color: white;
        width: 325px;
        overflow: auto;
    }

    .editable-row:hover .editable-cell-value-wrap-step {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding: 4px 11px;
    }


}