.ws-detail-left-nav{
    width: 80px;
    height: 100%;

    .ws-detail-left-nav-item{
        margin: 0 0 10px;
    }

    .ws-detail-left-nav-item-repository{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .ws-detail-left-nav-item-box{
        padding: 6px 0;
        cursor: pointer;
        border-left: 3px solid var(--pi-bg-grey-200);
    }
    .ws-detail-left-nav-item-box:hover{
        background-color: var(--pi-hover-color);
    }

    .ws-detail-left-nav-item-detail{
        display: flex;
        justify-content: center;
    }
    .selectlink{
        background-color: var(--pi-action-color);
        border-left: 3px solid var(--pi-base-color);
    }

    .ws-detail-left-nav-icon{
        width: 32px;
        height: 32px;
    }
}

//leftNav
.ws-detail-left-nav-ws{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;


    .ant-avatar{
        width: 40px;
        height: 40px;
    }


    .ant-avatar.ant-avatar-icon {
        font-size: 22px;
    }
}

.left-nav-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.ws-icon-box{
    position: relative;
    display: flex;
    align-items: center;

    .repository-icon{
        width:var(--pi-icon-x);
        height:var(--pi-icon-x);
    }
}


.ws-hover-box{
    //display: none;
    width: 240px;
    position: absolute;
    top: -40px;
    left: 72px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 22%);
    background: #fff;
    z-index: 10;
    overflow: auto;

    .ws-hover-item{
        border-bottom: 1px solid var(--pi-border-color);
        border-radius: var(--pi-border-radius);
        padding: 5px;
        margin: 2px 0 0 0;
        display: flex;
        align-items: center;
    }

    .ws-hover-item:hover{
        background: #f6f6f6;
        cursor: pointer;
    }

    .ws-hover-box-title{
        border-bottom: 1px solid var(--pi-border-color);
        padding: 0 0 5px 5px;
        font-weight: 600;
    }

    .ws-icon-box-toggle-icon{
        width: var(--pi-icon-s);
        height: var(--pi-icon-s);
    }

    .ws-toggle-repository_more{
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 5px;
        background: #f0f0f0;
    }

}
