
    .testcase-webUI-form{
        margin:10px 0 0 0;
    }

    .web-form-header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .teststep-title{
            font-size: 25px;
            color: #000;
            font-weight: 500;
            border: 1px solid #fff;
            cursor: pointer;
            outline:0;
            margin: 0 0 10px 10px;
            padding: 0 10px 0 0;
        }
        .teststep-title:hover{
            box-shadow: 0 0 0 2px #1890ff33;
        }
    }

    .web-form2{
        margin: 0 0 0 10px;
        .ant-form-item-label>label{
            color: #8e8e8e;
        }
        .ant-input[disabled]{
            color: #8e8e8e;
        }
    }





// 
//.report-contant{
//    display: flex;
//    height: 100%;
//
//    .test-history{
//        width: 150px;
//        border-right: 2px solid #e4e4e4;
//        overflow: auto;
//
//        .history-title{
//            height: 30px;
//            text-align: center;
//            line-height: 28px;
//            background: #efefef;
//        }
//
//        .history-item:hover{
//            background: #e2f3ff;
//            cursor: pointer;
//        }
//
//        .history-item{
//            font-size: 13px;
//            display: flex;
//            border: 1px solid #e4e4e4;
//            padding: 5px;
//
//            .history-item-result{
//                color: #fff;
//                height: 22px;
//                padding: 1px;
//                border-radius: 2px;
//                margin: auto;
//            }
//
//        }
//    }
//
//
//    .test-report-detail{
//        margin:0 15px;
//        width: 950px;
//    }
//
//    .testReport-web-from{
//        display: flex;
//        margin: 20px 0;
//
//        .web-form-item{
//            width: 150px;
//            margin: 0 20px 0 0;
//            background: #efefef;
//            padding: 15px;
//        }
//
//        .test-report-detail-item{
//            width: 140px;
//            margin: 0 20px 0 0;
//            background: #efefef;
//            padding: 15px;
//        }
//
//        .ant-form-item{
//            margin: 0;
//
//            .ant-input{
//                width: 120px;
//                border:0;
//                background-color: #efefef;
//                padding: 0;
//                font-size: 22px;
//            }
//        }
//    }
//    .testreport-detail{
//        background: #efefef;
//        padding: 8px;
//        border-left: 4px solid #0095ff;
//    }
//
//    .webtestcase-list{
//        margin: 20px 20px 0;
//
//        .webtestcase-item{
//            display: flex;
//            justify-content: space-between;
//            padding: 10px;
//            margin: 0 0 10px 0;
//            font-size: 12px;
//
//        }
//        .item-title{
//            font-size: 12px;
//            color: #fff;
//        }
//
//        .item-name{
//            margin: 0 5px 0 0;
//        }
//
//        .item-result{
//            color: #fff;
//        }
//
//
//    }
//}
//
//.isSuccess{
//    background: #4f9854;
//}
//.isFaied{
//    background: #f04949;
//}