
.test-detail-contant{
  display: flex;
  height: 100%;

  .test-detail-history{
    width: 170px;
    border-right: 2px solid #e4e4e4;
    overflow: auto;

    .test-detail-history-title{
      height: 30px;
      text-align: center;
      line-height: 28px;
      background: #efefef;
    }

    .history-item:hover{
      background: #e2f3ff;
      cursor: pointer;
    }

    .history-item{
      font-size: 13px;
      display: flex;
      border: 1px solid #e4e4e4;
      padding: 5px;

      .history-item-result{
        color: #fff;
        height: 22px;
        padding: 1px;
        border-radius: 2px;
        margin: auto;
      }

    }
  }


  .test-report-detail{
    margin: 0 0 0 30px;
    width: 100%;
  }

  .test-detail-from{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;

    .test-detail-form-item{
      width: 130px;
      background: #efefef;
      padding: 15px;
      border-radius: 5px;
    }

    .test-detail-form-label{
      font-size: 13px;
    }

    .ant-form-item{
      margin: 0;

      .ant-input{
        width: 110px;
        border:0;
        background-color: #efefef;
        padding: 0;
        font-size: 22px;
        color: #000;
      }
    }
  }

  .test-detail-step-title{
    background: #f5f5f5;
    padding: 8px;
    border-left: 4px solid #0095ff;
  }

  .test-detail-step-list{
    margin: 20px 0;
  }
}

.isSucceed{
  background: #4f9854;
}
.isFailed{
  background: #f04949;
}