.pi-message-success{
    margin-top: -15px;

    .ant-message-notice-content{
        box-shadow: none;
        width: 300px;
        background: #f6ffed;
        border: 1px solid #b7eb8f;
        height: 45px;
    }
}

.pi-message-error{
    margin-top: -15px;

    .ant-message-notice-content{
        box-shadow: none;
        width: 300px;
        background: #ffeded;
        border: 1px solid #eb8f8f;
        height: 45px;
    }
}