
.ant-picker-range{
    width: 100%;
}

.defect_project_select{
    padding: 10px 0;
}

.defect_project_select .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background: #f4f4f4;
    border-radius: 5px;
    border: none;
}
