//headerMenu
.header-right-item{
    margin: 0 12px;
    height: 22px;


    .header-icon-item{
        font-size: 22px;
        color: white;
        cursor: pointer;
    }
}

.header-right-item:hover{
    background: #e3e3e3;
    border-radius: var(--pi-border-radius);
}

.header-right-item:hover .header-icon-item{
    color: #385fb8;
}

.user-header-icon{
    margin: 5px;
}

.user-header-icon-hover{
    cursor: pointer;

    .ant-avatar{
        width: 22px;
        height: 22px;
    }
}


.toggle-hover{
    position: relative;
    line-height: 12px;


    .toggle-hidden-box{
        z-index: 9;
        display: none;
        position: absolute;
        border: 1px solid var(--pi-border-color);
        background: var(--pi-bg-color);
        box-shadow: var(--pi-box-shadow);


        .user-detail-box{
            display: flex;
            //justify-content: space-between;
            //align-items: center;
            padding: 10px;
            border-bottom: 1px solid var(--pi-border-color);


            .user-detail-item{
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .user-detail-item-name{
                    font-weight: bold;
                }
            }

            .user-detail-item-icon{
                margin: 0 10px 0 0;
            }

        }

        .user-hidden-item{

            padding: 5px;
            display: flex;
            align-items: center;
        }

        .user-hidden-item-lan{
            padding: 5px;
            position: relative;
            cursor: pointer;

            .header-lan-box{
                padding:10px;
                width: 80px;
                display: none;
                position: absolute;
                left: -80px;
                top: 10px;

                .header-lan-box-item{
                    padding:5px;
                }
            }
        }

        .user-hidden-item-lan:hover  .header-lan-box{
            display: block;
            background: var(--pi-bg-color);
            border: 1px solid var(--pi-border-color);
            box-shadow: var(--pi-box-shadow);
        }

        .user-hidden-item-disable{
            padding: 10px;
            cursor: not-allowed;
            color: #c9c9c9;
        }

        .user-hidden-item:hover{
            background: #efefef;
            cursor: pointer;
            border-radius: var(--pi-border-radius);
        }

        .header-user-icon{

            .tiklab-profile{

                .ant-avatar {
                    width: 32px;
                    height: 32px;
                }
            }

        }
    }

    .header-user-box{
        width: 230px;
        left: -200px;
        padding: 0;
    }

    .setting-setting-box{
        width: 180px;
        left: -150px;
        padding: 10px;
    }

}

.toggle-hover:hover  .toggle-hidden-box{
    display: block;
}



.frame-header{
    padding: 0 10px 0 28px;
    background: var(--pi-base-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid var(--pi-border-color);
    //-webkit-app-region: drag;//electron无边框拖动
    //-webkit-app-region: no-drag;

    .frame-header-logo{
        height: 35px;
        width: 100px;
        margin:0 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .header-menu-box{
        display: flex;
        width: 120px;
        justify-content: space-around;
        align-items: center;
        height: 48px;


        .header-menu-item{
            color: #b4e1ff;
            padding: 11px 6px;
            border-bottom: 4px solid #add9ff00;
            width: 55px;
            text-align: center;
        }

        .header-menu-item-action{
            background: #6b99e3;
            color: #fff;
        }

        div{
            cursor: pointer;
        }

        .ant-menu-title-content{
            font-size: var(--pi-font-size-14);
            color: white;
        }

        .ant-menu-horizontal{
            border-bottom: none;
            background: var(--pi-base-color);

        }

    }


    .pi-header-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

    .pi-header-right{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pi-header-right-item{
            margin: 0 15px 0 0;
        }
    }

    .frame-header-right-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        //width: 470px;


        .frame-header-right-detail{
            display: flex;
            margin:0 15px 0 0;
        }

    }

}

.show {
    max-height: 350px;
    transition: max-height .3s ease-in;
    transform-origin: 50% 0;
    animation: slide-down 0.3s ease-in;
    -webkit-animation: slide-down 0.3s ease-in;
    padding: 20px;
}

.hidden {
    max-height: 0;
    overflow: auto;
    transition: max-height .3s ease-out;
}

