.performance-box{
    height: 100%;
    overflow: hidden;
}

.task-result{
    display: flex;
    height: 100%;
    margin: 30px 0 0 0;
    border: 1px solid #e4e4e4;
    height: 400px;


    .task-result-left{
        width: 240px;
        border-right: 1px solid #e4e4e4;
        overflow: auto;
    }

    .task-result-tabs{
        width: 100%;

        .ant-tabs-nav{
            background: #f5f5f5;
        }
    }
}
