.pagination-box{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    .pagination-box-ban{
        cursor:not-allowed;
        color: var(--thoughtware-gray-500);
    }
    .pagination-box-allow{
        cursor: pointer;
        &:hover{
          color: var(--thoughtware-blue);
        }
    }
    .pagination-box-current{
        color: var(--thoughtware-blue);
    }
}