:root{
    //-----公共定义-----
    // 色调
    --thoughtware-white: #fff;  // 主色调白
    --thoughtware-black: #000;  // 主色调黑
    --thoughtware-blue: #0c66e4;  /* 主色调蓝*/
    --thoughtware-gray-200: #ececec;  /* border 的边线*/
    --thoughtware-gray-300: #091e420f;  /* hover颜色*/
    --thoughtware-gray-400: #e9f2ff;  /* 左侧导航 选中颜色*/
    --thoughtware-gray-500: #999; // 文字次级颜色灰色调
    --thoughtware-gray: #efefef; // 主色调灰 左侧导航

    // 边距
    --thoughtware-padding: 20px; //页面边距
    --thoughtware-padding-resove: -20px; //页面边距
    --thoughtware-padding-item: 15px; //元素间隔边距
    --thoughtware-padding-resove-item:-15px; //元素间隔边距

    // 标题
    --thoughtware-font-12: 12px; // 图文排需要的文字
    --thoughtware-font-13: 13px;  // 描述文字
    --thoughtware-font-14: 14px; // 正文
    --thoughtware-font-16: 16px; // 标题

    // 图标大小
    --thoughtware-icon-size-16: 16px;
    --thoughtware-icon-size-20: 20px;
    --thoughtware-icon-size-24: 24px;
    --thoughtware-icon-size-32: 32px;

    // 字重
    --thoughtware-font-weight-bold: bold; // 标题字重

    //----项目内定义----
    --pi-base-color:var(--thoughtware-blue);  //着重色
    --pi-bg-grey-100:#f8f8f8;
    --pi-bg-grey-200:#ededed;
    --pi-bg-color:var(--thoughtware-white);

    //主题
    --thoughtware-theme-default:  #f0f3fa;
    --thoughtware-theme-black: #131d30;
    --thoughtware-theme-blue: #2f5eb1;


    --pi-hover-color:#e3e8f0; //hover颜色
    --pi-action-color:#e3e8f0; //选中

    --pi-font-color-grey: #888;

    --pi-background-color:#f6f8fa;

    --pi-font-size-16:var(--thoughtware-font-16);
    --pi-font-size-14:var(--thoughtware-font-14);
    --pi-font-size-13:var(--thoughtware-font-13);
    --pi-font-size-12:var(--thoughtware-font-12);

    --pi-page-padding:var(--thoughtware-padding-item); //页面边距
    --pi-font-weight-title:var(--thoughtware-font-weight-bold); //加粗
    --pi-font-weight-light:400;


    --pi-icon-s:var(--thoughtware-icon-size-16);
    --pi-icon-m:var(--thoughtware-icon-size-20);
    --pi-icon-l:var(--thoughtware-icon-size-24);
    --pi-icon-x:var(--thoughtware-icon-size-32);

    --pi-calc-content:calc(100% - 48px);

    --pi-greyf9-color: #f9f9f9; //悬浮颜色
    --pi-border-color:#f0f0f0; //边框颜色
    --pi-box-shadow: 0 3px 6px rgb(140 149 159 / 15%);  //阴影
    --pi-border-radius:4px; //边框圆角
    //--pi-input-border:2px solid hsla(0,0%,86.7%,.8666666667);
    --pi-input-border:1px solid var(--thoughtware-gray-200);

    --pi-font-family:Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Roboto,Oxygen,
    Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica,Arial,sans-serif; // 字体

    //其他  接口请求方法的颜色，如 post为 red
    --pi-error-color: #ff0000c2;
    --pi-warning-color: #ffb40070;
    --pi-success-color:#0cbb5270;
    --pi-delete-color:#ff818170;
    --pi-head-color:#43959170;
    --pi-put-color:#7e97bd70;
    --pi-option-color: #5a5cff70;
    --pi-patch-color: #b561ff70;


}