.tc-contant{
    display: flex;
    height: 100%
}

 .tc-main{
    width: 100%;
}

// tc左侧导航
.tc-menu-ul {
    padding: 0;
    .tc-menu-li {
        padding: 0 40px;
        height: 40px;
        width: 200px;
        line-height: 40px;
        display: block;
        cursor: pointer;
    }

    .tc-menu-li:hover{
        background-color:#EDF0F5;
    }
    .tc-menu-li-action{
        background-color: #e3e8f0;
        border-right: 3px solid #1296db;
    }
}


.repository-header-menu{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #e4e4e4 ;
    margin: 0 0 10px 0;

    .repository-header-menu-left{
        display: flex;
    }

    .repository-header-menu-right{
        display: flex;
    }

    .repository-header-menu-item{
        padding: 14px;
        margin: 0 15px 0 0;
        cursor: pointer;
    }

    .repository-header-menu-item:hover{
        border-bottom:3px solid #2196f3;
    }

    .repository-header-menu-item-selected{
        color: #008aff;
        border-bottom:3px solid #008cff;
    }
}

