//requestType
.requestType{
    height: 25px;
    padding: 2px 5px;
    border-radius: 3px;
}

.requestType-post{
    color: white;
    background: var(--pi-error-color);
}

.requestType-post-text{
    color: var(--pi-error-color);
}

.requestType-get{
    color: white;
    background: var(--pi-success-color);
}
.requestType-get-text{
    color: var(--pi-success-color);
}

.requestType-delete{
    color: white;
    background: var(--pi-delete-color);
}
.requestType-delete-text{
    color: var(--pi-delete-color);
}

.requestType-head{
    color: white;
    background: var(--pi-head-color);
}
.requestType-head-text{
    color: var(--pi-head-color);
}

.requestType-put{
    color: white;
    background: var(--pi-put-color);
}
.requestType-put-text{
    color: var(--pi-put-color);
}

.requestType-options{
    color: white;
    background: var(--pi-option-color);
}
.requestType-options-text{
    color: var(--pi-option-color);
}

.requestType-patch{
    color: white;
    background: var(--pi-patch-color);
}
.requestType-patch-text{
    color: var(--pi-patch-color);
}


//testDarg

.middleBox{
    height:10px
}

.middleBox:hover{
    cursor: n-resize;
    background:#8282ff;
}

#bottom{

}
.test-darg-contant{
    overflow: hidden;
    height: 900px;
}


.ws-side-menu{
    border-right: 1px solid #e4e4e4;
    background: var(--pi-bg-grey-100);
}


.teston-breadcrumb{
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 1px solid #ececec;
    margin: 0 0 5px 0;
}



.teston-page-center{
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}


.detail-box{
    padding: 5px;
    min-width: 670px;

    .detail-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 10px 0;
        height: 41px;
    }

    .detail-bottom{

        .detail-bottom-item{
            margin: 0 80px 0 0;
            color: #999;
            max-width: 28%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
            text-indent: 0;
            font-size: 13px;
        }
    }

    @media (max-width: 575px) {
        .ant-form .ant-form-item .ant-form-item-label, .ant-form .ant-form-item .ant-form-item-control {
            flex: none;
        }
    }
}

.edit-api-name{
    font-size:20px;
    cursor: auto
}

.ediText-edit{
    background: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
}

.ediText-save{
    display: none;
}

.ediText-cancel{
    display: none;
}

.edit-api-title{
    cursor: auto;
}

//面包屑
.breadcrumb-box{
    font-weight: bold;

    .first-item:hover{
        cursor: pointer;
        color: #48a8d9;
    }
}

