.demand_show{
    display: block;
}

.demand_hide{
    display: none;
}

.demand-content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;


}

.demand-content_empty{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demand-content_add {
    color: #a6a6a6;
    cursor: pointer;

    &:hover{
        cursor: pointer;
        color: #009fff;
    }
}
.demand_project_select{
    padding: 10px 5px;
    box-shadow: 0 0 10px #e4e4e4;
    margin: 10px;
    height: 100%;

    .table-list-box .ant-table{
        border: none;
    }
}

.demand_project_select .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background: #f4f4f4;
    border-radius: 5px;
    border: none;
}

.demand_project_search{
    border-radius: var(--pi-border-radius) !important;
    border: var(--pi-input-border) !important;
}