//workspaceDetailLayout
.ws-detail-contant{
    height: calc(100% - 50px);
    display: flex;


    .ws-detail-left{
        width: 80px;
        height: 100%;
        position:relative;
        background: #f3f3f3;
    }

    .ws-detail-right{
        width: 100%;
    }

}



//leftNav
.ws-detail-left-nav-ws{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;


    .ant-avatar{
        width: 40px;
        height: 40px;
    }


    .ant-avatar.ant-avatar-icon {
        font-size: 22px;
    }
}




.ws-detail-left-nav{
    width: 80px;
    height: 100%;
}

.ws-detail-left-nav-item{
    padding: 6px;

}
.ws-detail-left-nav-item-box{
    padding: 6px 0;
    border-radius: 5px;
    cursor: pointer;
}
.ws-detail-left-nav-item-box:hover{
    background-color: #fcfcfc;
}

.ws-detail-left-nav-item-detail{
    display: flex;
    justify-content: center;
}
.selectlink{
    background-color: #fcfcfc;
}

.ws-nav-setting{
    position: relative;
}

.ws-nav-setting:hover .nav-setting-box{
    display: block;
}

.show-nav-setting{
    display: block;
}

.hide-nav-setting{
    display: none;
}

.nav-setting-box{
    display: none;
    position: absolute;
    top: 0;
    left: 80px;
    padding: 10px;
    box-shadow: 0 0 12px 1px #ddd;
}

.nav-setting-menu{
    padding: 0;
    margin: 0;

    .nav-setting-item{
        height: 40px;
        width: 150px;
        line-height: 40px;
        display: block;
        cursor: pointer;
        border-radius: 10px;
        padding: 0 15px;
    }
    .nav-setting-item:hover{
        background-color: #f3f3f3;
    }
}

//workspaceDetailPage
.ws-detail-page{
    width: 1240px;
    margin: 0 auto;
}

//workspaceContant

.wscontant-box{
    width: 1240px;
    margin: 0 auto;
}


