.tccontant{
    display: flex;
    height: 100%;
}



.changeBox{
    border-right: 5px solid #f0f2f5;
}
.tccontant-contant{
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.tc-row{
    overflow:auto;
    height: 100%;
    background-color: #f5f5f5;
}

.tc-col{
    background-color: white;
    padding: 0 20px 30px;
}

.tc-side{
    background-color: #fafafa;
    box-shadow: inset -1px 0 0 #e5e5e5;
}

.ts-aside{
    width:240px;
}

.det-box{
    display: flex;
    justify-content: space-around;

    .det-item{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 140px;
    }
}


.repository-name-box{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

    .repository-name-icon{
        width: 18px;
        height: 18px;
        vertical-align: -0.15 em;
        margin: 2px 0 0  0;
    }
}

.repository-name-menu{
    position: absolute;
    left: 200px;
    width: 175px;
    height: 200px;
    background: #fff;
    margin: -42px 0 0 0;
    box-shadow: 0px 0px 13px 0px #cacaca;
    z-index: 1;
}



//workspaceDetailLayout
.ws-detail-contant{
    height: calc(100% - 50px);
    display: flex;


    .ws-detail-left{
        width: 80px;
        height: 100%;
        position:relative;
        background: #f3f3f3;
    }

    .ws-detail-right{
        width: 100%;
    }

}



//leftNav
.ws-detail-left-nav-ws{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;


    .ant-avatar{
        width: 40px;
        height: 40px;
    }


    .ant-avatar.ant-avatar-icon {
        font-size: 22px;
    }
}




.ws-detail-left-nav{
    width: 80px;
    height: 100%;
}

.ws-detail-left-nav-item{
    padding: 6px;

}
.ws-detail-left-nav-item-box{
    padding: 6px 0;
    border-radius: 5px;
    cursor: pointer;
}
.ws-detail-left-nav-item-box:hover{
    background-color: #fcfcfc;
}

.ws-detail-left-nav-item-detail{
    display: flex;
    justify-content: center;
}
.selectlink{
    background-color: #fcfcfc;
}

.ws-nav-setting{
    position: relative;
}

.ws-nav-setting:hover .nav-setting-box{
    display: block;
}

.show-nav-setting{
    display: block;
}

.hide-nav-setting{
    display: none;
}

.nav-setting-box{
    display: none;
    position: absolute;
    top: 0;
    left: 80px;
    padding: 10px;
    box-shadow: 0 0 12px 1px #ddd;
    background: #fff;
}

.nav-setting-menu{
    padding: 0;
    margin: 0;

    .nav-setting-item{
        height: 40px;
        width: 150px;
        line-height: 40px;
        display: block;
        cursor: pointer;
        border-radius: 10px;
        padding: 0 15px;
    }
    .nav-setting-item:hover{
        background-color: #f3f3f3;
    }
}

//workspaceDetailPage
.ws-detail-page{
    width: 1240px;
    margin: 0 auto;
}

//workspaceContant

.wscontant-box{
    width: 1240px;
    margin: 0 auto;
}


