.tie-item{

    .tie-item-title{
        font-size: 28px;
    }
    .tie-item-dot{
        margin: 0 10px 0 5px;
    }
}

.tie-edit-icon{
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 5px 5px 0 5px;
    vertical-align: -2px;
}